.test-1, .test-2, .test-3, .test-4 {
  background-color: darkgoldenrod;
  padding: 5px;
}
.start-date {
  color: red;
}

.table-container, .summary-container {
  padding:4px;
}
.header-cell {
  font-weight: 700;
}
.header-row {
  background-color: #5a6e91;
  color:white;
}
.header-row th {
  background-color: #5a6e91;
  color:white;
  font-weight: 700;
}